*.log
.DS_Store
.env
.env.backup
.env.production
/database/*.sqlite
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

# Temporary ignored files (they will be removed in the future)
public/w2a_autocomplete
public/scripts
public/css
/public/assets/**
!/public/assets/
!/public/assets/admin/
!/public/assets/admin/layout/
!/public/assets/admin/layout/img/
!/public/assets/admin/layout4/
!/public/assets/admin/layout4/css/
!/public/assets/admin/layout4/css/themes/
!/public/assets/admin/layout4/img/
!/public/assets/admin/layout4/scripts/
!/public/assets/admin/pages/
!/public/assets/admin/pages/scripts/
!/public/assets/frontend/
!/public/assets/frontend/layout/
!/public/assets/frontend/layout/css/
!/public/assets/frontend/layout/css/images/
!/public/assets/frontend/layout/css/themes/
!/public/assets/frontend/layout/img/
!/public/assets/frontend/layout/img/icons/
!/public/assets/frontend/layout/scripts/
!/public/assets/frontend/layout/scripts/w2a/
!/public/assets/frontend/pages/
!/public/assets/frontend/pages/css/
!/public/assets/frontend/pages/img/
!/public/assets/frontend/pages/img/title-bg/
!/public/assets/global/
!/public/assets/global/css/
!/public/assets/global/img/
!/public/assets/global/img/social/
!/public/assets/global/plugins/
!/public/assets/global/plugins/backstretch/
!/public/assets/global/plugins/bootstrap/
!/public/assets/global/plugins/bootstrap/css/
!/public/assets/global/plugins/bootstrap/fonts/
!/public/assets/global/plugins/bootstrap/fonts/bootstrap/
!/public/assets/global/plugins/bootstrap/js/
!/public/assets/global/plugins/bootstrap-datepicker/
!/public/assets/global/plugins/bootstrap-datepicker/css/
!/public/assets/global/plugins/bootstrap-datepicker/js/
!/public/assets/global/plugins/bootstrap-daterangepicker/
!/public/assets/global/plugins/bootstrap-hover-dropdown/
!/public/assets/global/plugins/bootstrap-switch/
!/public/assets/global/plugins/bootstrap-switch/css/
!/public/assets/global/plugins/bootstrap-switch/js/
!/public/assets/global/plugins/bootstrap-wizard/
!/public/assets/global/plugins/carousel-owl-carousel/
!/public/assets/global/plugins/carousel-owl-carousel/owl-carousel/
!/public/assets/global/plugins/datatables/
!/public/assets/global/plugins/datatables/images/
!/public/assets/global/plugins/datatables/plugins/
!/public/assets/global/plugins/datatables/plugins/bootstrap/
!/public/assets/global/plugins/fancybox/
!/public/assets/global/plugins/fancybox/source/
!/public/assets/global/plugins/font-awesome/
!/public/assets/global/plugins/font-awesome/css/
!/public/assets/global/plugins/font-awesome/fonts/
!/public/assets/global/plugins/jquery-nestable/
!/public/assets/global/plugins/jquery-slimscroll/
!/public/assets/global/plugins/jquery-ui/
!/public/assets/global/plugins/jquery-validation/
!/public/assets/global/plugins/jquery-validation/js/
!/public/assets/global/plugins/select2/
!/public/assets/global/plugins/select2/css/
!/public/assets/global/plugins/simple-line-icons/
!/public/assets/global/plugins/simple-line-icons/fonts/
!/public/assets/global/plugins/uniform/
!/public/assets/global/plugins/uniform/css/
!/public/assets/global/plugins/uniform/images/
!/public/assets/global/scripts/
!/public/assets/img/
!/public/assets/layouts/
!/public/assets/layouts/layout/
!/public/assets/layouts/layout/css/
!/public/assets/layouts/layout/img/
!/public/assets/layouts/layout4/
!/public/assets/layouts/layout4/css/
!/public/assets/layouts/layout4/css/themes/
!/public/assets/layouts/layout4/img/
!/public/assets/layouts/layout4/scripts/
!/public/assets/pages/
!/public/assets/pages/css/
!/public/assets/pages/img/

# Runtime assets referenced by tracked Blade views and stylesheets.
# Keep these as exact file rules: public/assets also contains thousands of
# unused legacy theme/demo files that must remain ignored.
!/public/assets/admin/layout/img/loading.gif
!/public/assets/admin/layout4/css/custom-rtl.css
!/public/assets/admin/layout4/css/layout-rtl.css
!/public/assets/admin/layout4/css/themes/light-rtl.css
!/public/assets/admin/layout4/img/avatar1.jpg
!/public/assets/admin/layout4/img/avatar2.jpg
!/public/assets/admin/layout4/img/avatar3.jpg
!/public/assets/admin/layout4/img/avatar4.jpg
!/public/assets/admin/layout4/img/avatar5.jpg
!/public/assets/admin/layout4/img/avatar6.jpg
!/public/assets/admin/layout4/img/avatar7.jpg
!/public/assets/admin/layout4/img/sidebar-toggle-light.png
!/public/assets/admin/layout4/scripts/demo.js
!/public/assets/admin/layout4/scripts/layout.js
!/public/assets/admin/pages/scripts/form-wizard.js
!/public/assets/frontend/layout/css/ge-ss-med.eot
!/public/assets/frontend/layout/css/ge-ss-med.ttf
!/public/assets/frontend/layout/css/images/block_bg.png
!/public/assets/frontend/layout/css/images/hedaya_arrows.png
!/public/assets/frontend/layout/css/images/hedaya_ico.png
!/public/assets/frontend/layout/css/images/hedaya_img.png
!/public/assets/frontend/layout/css/images/more.png
!/public/assets/frontend/layout/css/images/rss.png
!/public/assets/frontend/layout/css/images/tv.png
!/public/assets/frontend/layout/css/images/tv_cd.png
!/public/assets/frontend/layout/css/images/way_bottom_content_bg.png
!/public/assets/frontend/layout/css/images/way_content_bg.jpg
!/public/assets/frontend/layout/css/images/way_footer_bg.jpg
!/public/assets/frontend/layout/css/images/way_green_bar.png
!/public/assets/frontend/layout/css/category-series.css
!/public/assets/frontend/layout/css/content-refresh.css
!/public/assets/frontend/layout/css/style-responsive.css
!/public/assets/frontend/layout/css/style.css
!/public/assets/frontend/layout/css/themes/blue.css
!/public/assets/frontend/layout/img/blockquote-corner.png
!/public/assets/frontend/layout/img/fa-angle-brands.png
!/public/assets/frontend/layout/img/fa-angles.png
!/public/assets/frontend/layout/img/gallery_bg.png
!/public/assets/frontend/layout/img/group.png
!/public/assets/frontend/layout/img/icon-color-close.png
!/public/assets/frontend/layout/img/icon-color.png
!/public/assets/frontend/layout/img/icons/bubble.png
!/public/assets/frontend/layout/img/icons/bubble2.png
!/public/assets/frontend/layout/img/icons/menu_icon.gif
!/public/assets/frontend/layout/img/icons/menu_icon2.gif
!/public/assets/frontend/layout/img/icons/sidebar-toggle-icons.png
!/public/assets/frontend/layout/img/icons/toggler.png
!/public/assets/frontend/layout/img/icons/top-search-icon.png
!/public/assets/frontend/layout/img/s_gallery_bg.png
!/public/assets/frontend/layout/img/save-bg.png
!/public/assets/frontend/layout/img/save-icon.png
!/public/assets/frontend/layout/img/step3-angle-right.png
!/public/assets/frontend/layout/img/up.png
!/public/assets/frontend/layout/scripts/back-to-top.js
!/public/assets/frontend/layout/scripts/inc.js
!/public/assets/frontend/layout/scripts/layout.js
!/public/assets/frontend/layout/scripts/w2a/demo.js
!/public/assets/frontend/layout/scripts/w2a/jquery.autocomplete.js
!/public/assets/frontend/layout/scripts/w2a/jquery.mockjax.js
!/public/assets/frontend/layout/scripts/w2a/styles.css
!/public/assets/frontend/pages/css/gallery.css
!/public/assets/frontend/pages/css/style-revolution-slider.css
!/public/assets/frontend/pages/img/title-bg/man.jpg
!/public/assets/global/css/components-rounded-rtl.css
!/public/assets/global/css/components-rtl.css
!/public/assets/global/css/components-rtl.min.css
!/public/assets/global/css/plugins-rtl.css
!/public/assets/global/css/plugins-rtl.min.css
!/public/assets/global/css/plugins.css
!/public/assets/global/img/accordion-plusminus.png
!/public/assets/global/img/datatable-row-openclose.png
!/public/assets/global/img/loading-spinner-grey.gif
!/public/assets/global/img/portlet-collapse-icon-white.png
!/public/assets/global/img/portlet-collapse-icon.png
!/public/assets/global/img/portlet-config-icon-white.png
!/public/assets/global/img/portlet-config-icon.png
!/public/assets/global/img/portlet-expand-icon-white.png
!/public/assets/global/img/portlet-expand-icon.png
!/public/assets/global/img/portlet-reload-icon-white.png
!/public/assets/global/img/portlet-reload-icon.png
!/public/assets/global/img/portlet-remove-icon-white.png
!/public/assets/global/img/portlet-remove-icon.png
!/public/assets/global/img/remove-icon-small.png
!/public/assets/global/img/social/aboutme.png
!/public/assets/global/img/social/amazon.png
!/public/assets/global/img/social/behance.png
!/public/assets/global/img/social/blogger.png
!/public/assets/global/img/social/deviantart.png
!/public/assets/global/img/social/dribbble.png
!/public/assets/global/img/social/dropbox.png
!/public/assets/global/img/social/evernote.png
!/public/assets/global/img/social/facebook.png
!/public/assets/global/img/social/flickr.png
!/public/assets/global/img/social/forrst.png
!/public/assets/global/img/social/foursquare.png
!/public/assets/global/img/social/github.png
!/public/assets/global/img/social/googleplus.png
!/public/assets/global/img/social/gravatar.png
!/public/assets/global/img/social/instagram.png
!/public/assets/global/img/social/jolicloud.png
!/public/assets/global/img/social/klout.png
!/public/assets/global/img/social/last-fm.png
!/public/assets/global/img/social/linkedin.png
!/public/assets/global/img/social/myspace.png
!/public/assets/global/img/social/picasa.png
!/public/assets/global/img/social/pintrest.png
!/public/assets/global/img/social/quora.png
!/public/assets/global/img/social/reddit.png
!/public/assets/global/img/social/rss.png
!/public/assets/global/img/social/skype.png
!/public/assets/global/img/social/spotify.png
!/public/assets/global/img/social/stumbleupon.png
!/public/assets/global/img/social/tumblr.png
!/public/assets/global/img/social/twitter.png
!/public/assets/global/img/social/vimeo.png
!/public/assets/global/img/social/vk.png
!/public/assets/global/img/social/wordpress.png
!/public/assets/global/img/social/xing.png
!/public/assets/global/img/social/yahoo.png
!/public/assets/global/img/social/youtube.png
!/public/assets/global/img/syncfusion-icons-white.png
!/public/assets/global/img/syncfusion-icons.png
!/public/assets/global/plugins/backstretch/jquery.backstretch.min.js
!/public/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css
!/public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js
!/public/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css
!/public/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js
!/public/assets/global/plugins/bootstrap-daterangepicker/moment.min.js
!/public/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js
!/public/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css
!/public/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js
!/public/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js
!/public/assets/global/plugins/bootstrap/css/bootstrap-rtl.min.css
!/public/assets/global/plugins/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.eot
!/public/assets/global/plugins/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.svg
!/public/assets/global/plugins/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.ttf
!/public/assets/global/plugins/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.woff
!/public/assets/global/plugins/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.woff2
!/public/assets/global/plugins/bootstrap/js/bootstrap.min.js
!/public/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel-rtl.js
!/public/assets/global/plugins/datatables/datatables.min.css
!/public/assets/global/plugins/datatables/datatables.min.js
!/public/assets/global/plugins/datatables/images/sort_asc.png
!/public/assets/global/plugins/datatables/images/sort_asc_disabled.png
!/public/assets/global/plugins/datatables/images/sort_both.png
!/public/assets/global/plugins/datatables/images/sort_desc.png
!/public/assets/global/plugins/datatables/images/sort_desc_disabled.png
!/public/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css
!/public/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js
!/public/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js
!/public/assets/global/plugins/font-awesome/css/font-awesome.min.css
!/public/assets/global/plugins/font-awesome/fonts/fontawesome-webfont.eot
!/public/assets/global/plugins/font-awesome/fonts/fontawesome-webfont.svg
!/public/assets/global/plugins/font-awesome/fonts/fontawesome-webfont.ttf
!/public/assets/global/plugins/font-awesome/fonts/fontawesome-webfont.woff
!/public/assets/global/plugins/font-awesome/fonts/fontawesome-webfont.woff2
!/public/assets/global/plugins/jquery-migrate.min.js
!/public/assets/global/plugins/jquery-nestable/jquery.nestable-rtl.js
!/public/assets/global/plugins/jquery-nestable/jquery.nestable.css
!/public/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js
!/public/assets/global/plugins/jquery-ui/jquery-ui.min.js
!/public/assets/global/plugins/jquery-validation/js/additional-methods.min.js
!/public/assets/global/plugins/jquery-validation/js/jquery.validate.min.js
!/public/assets/global/plugins/jquery.blockui.min.js
!/public/assets/global/plugins/jquery.cokie.min.js
!/public/assets/global/plugins/jquery.min.js
!/public/assets/global/plugins/select2/css/select2-bootstrap.min.css
!/public/assets/global/plugins/select2/css/select2.min.css
!/public/assets/global/plugins/simple-line-icons/fonts/Simple-Line-Icons.eot
!/public/assets/global/plugins/simple-line-icons/fonts/Simple-Line-Icons.svg
!/public/assets/global/plugins/simple-line-icons/fonts/Simple-Line-Icons.ttf
!/public/assets/global/plugins/simple-line-icons/fonts/Simple-Line-Icons.woff
!/public/assets/global/plugins/simple-line-icons/simple-line-icons.min.css
!/public/assets/global/plugins/uniform/css/uniform.default.css
!/public/assets/global/plugins/uniform/images/bg-input-focus.png
!/public/assets/global/plugins/uniform/images/bg-input.png
!/public/assets/global/plugins/uniform/images/sprite.png
!/public/assets/global/plugins/uniform/jquery.uniform.min.js
!/public/assets/global/scripts/app.min.js
!/public/assets/img/quran-book (1).png
!/public/assets/img/window.png
!/public/assets/layouts/layout/css/layout-rtl.css
!/public/assets/layouts/layout/img/icon-color-close.png
!/public/assets/layouts/layout/img/icon-color.png
!/public/assets/layouts/layout4/css/custom-rtl.min.css
!/public/assets/layouts/layout4/css/layout-rtl.min.css
!/public/assets/layouts/layout4/css/themes/light-rtl.min.css
!/public/assets/layouts/layout4/img/sidebar-toggle-light.png
!/public/assets/layouts/layout4/scripts/layout.min.js
!/public/assets/pages/css/login-4-rtl.min.css
!/public/assets/pages/img/bg-white-lock.png
